<!-- Expertise Section -->
    <section id="expertise">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Expertise</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CAD/CAE Skills</h4>
                    <ul class="text-muted" style="list-style-type: disc; margin-bottom: 40px; max-width: 75%; margin-left: 70px; text-align: left;">
                        <li>CAD Design: NX, AutoCAD, SolidWorks, CATIA</li>
                        <li>MBD Simulation: Ansys Motion, MSC.ADAMS</li>
                        <li>FEA Simulation: NX Nastran, Abaqus</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        
                    </span>
                    <h4 class="service-heading">Programming Skills</h4>
                    <ul class="text-muted" style="list-style-type: disc; margin-bottom: 40px; max-width: 75%; margin-left: 70px; text-align: left;">
                        <li>System Development: C, HTML</li>
                        <li>Simulation Solver: C++, FORTRAN</li>
                        <li>Data Analysis: Python, MATLAB</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytical & Validation</h4>
                    <ul class="text-muted" style="list-style-type: disc; margin-bottom: 40px; max-width: 75%; margin-left: 70px; text-align: left;">
                        <li>Structured Problem-solving: PDCA, Kaizen, V-UP</li>
                        <li>Test↔Simulation correlation: Root Cause Analysis</li>
                        <li>Design compliance & safety-margin verification</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Global Communication</h4>
                    <ul class="text-muted" style="list-style-type: disc; margin-bottom: 40px; max-width: 75%; margin-left: 70px; text-align: left;">
                        <li>Korean (First Language), Japanese (Fluent (JLPT N1))</li>
                        <li>Technical presentations to senior stakeholders</li>
                        <li>Cross-functional alignment as R&D representative</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>