<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img\about\CAU_bg.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Chung-Ang University<br>(Mar.2011 - Feb.2017)</h4>
                                    <h5 class="subheading">Bachelor of Science<br>in Mechanical Engineering</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                        totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img\about\JATCO_bg.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>JATCO Korea <br>Engineering Corporation<br>(Mar.2017 - Aug.2025)</h4>
                                    <h5 class="subheading">Multi-body Dynamics<br>Simulation Researcher</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                        totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img\about\DREXEL_bg.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Drexel University<br>(Sep.2023 - Jun.2025)</h4>
                                    <h5 class="subheading">Master of Science<br>in Mechanical Engineering</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatumeius sapiente, 
                                        totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>