  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="subheading"><br>                        
                    </h5>
                </div>
                <div class="col-md-4">
                    <h4 class="subheading">
                        Contacts:<br>
                        <!-- Ohsung Kwon<br> 
                        (267)299-3808<br> -->
                    </h4>
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <h5 class="subheading">Ohsung Kwon<br>
                        (267)299-3808
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5 class="subheading">101 W CROSS ST<br>
                        Baltimore, MD 21230<br>
                    </h5>
                </div> -->
                <div class="col-md-4">

                </div>

            </div>
        </div>
    </footer>